{% extends "./base.html" %}
{% load static %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{% block content %}
<div class="panel">
        <img src="{% static 'img/kaka-game.png' %}" style="cursor:pointer" id="game-panel" />
        <div id="prompt"></div>
        <div class="choice-block">
            <div class="choice hidden" id="choice1">Choice 1</div>
            <div class="choice hidden" id="choice2">Choice 2</div>
            <div class="choice hidden" id="choice3">Choice 3</div>
            <div class="choice hidden" id="choice1">Choice 4</div>
            <div class="choice hidden restart" id="restart">Try again!</div>
            <div class="choice hidden youwin" id="restart"><strong>You win!</strong></div>
            <div class="choice hidden restart" id="learn-more">Learn more about you can help protect kākā.</div>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    const base_path = "{% static 'img/kaka-gameX' %}";

    const src_json = "{% static 'data/pages.json' %}";

    let pages;
    
    $.getJSON(src_json, (data) => {
        pages = data["pages"];
    }).done(() => {
        let gameStarted = false;
        $("#game-panel").mousedown(() => {
            if (!gameStarted) {
                gameStarted = true;
                populateFromJson("1a");
            }
        });
        $("#restart").mousedown(() => {
            window.location.replace("{% url 'kakas:index' %}")
            $(".restart").addClass("hidden");
        });
        $("#learn-more").mousedown(() => {
            window.location.replace("{% url 'kakas:about' %}")
            $(".restart").addClass("hidden");
        });

    const populateFromJson = (jsonObjectID) => {
        let jsonObject = pages[jsonObjectID]
        let imgsrc = base_path.replace('X', jsonObjectID + jsonObject["ex"]);
        populate(imgsrc, jsonObject["prompt"], jsonObject["choices"], jsonObject["choice-ids"], jsonObjectID);
    }

    const populate = (imgsrc, prompt, choices, choice_ids, id) => {
        let $prompt = $("#prompt");
        $("#game-panel").attr("src", imgsrc);
        $prompt.text(prompt);
        (prompt) ? $prompt.removeClass("hidden") : $prompt.addClass("hidden");
        for (let i = 0; i < 4; i++)
        {
            let $choicebox = $("#choice" + (i + 1));
            $choicebox.addClass("hidden");
        }
        if (choices) {
            for (let i = 0; i < choices.length; i++)
            {
                let $choicebox = $("#choice" + (i + 1));
                $choicebox.removeClass("hidden");
                $choicebox.text(choices[i]);
                if (choice_ids) {
                    $choicebox.mousedown(() => {
                        populateFromJson(choice_ids[i].toString());
                    });
                }
            }
            $(".restart").addClass("hidden");
        } else {
            if (id == "10b") {
            $("#learn-more").addClass("youwin");
            $(".youwin").removeClass("hidden");
            } else {
            $(".restart").removeClass("hidden");
            }
        }
    }
});
</script>

{% endblock content %}