html,
body
{
    background-color:#acd;
    font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    cursor: default
}

a
{
    text-decoration:none;
    color: #885A8B;
}

a:hover
{
	text-decoration: underline;
}

.title > a > h2
{
    margin:0px;
    font-size:2.4em;
}
.title > a > h3
{
    margin:0px;
    color:#888;
}

.title > a:hover
{
	text-decoration:none;
}

.title > a:hover > h2
{
    color:#551A8B;
}
.title > a:hover > h3
{
    color:#555;
}

.title
{
    margin:auto;
    margin-top:50px;
    text-align:center;
    width:500px;
    padding:30px 10px;
    background-color:#fff;
    border-radius:10px;
}


.body
{
    background-color: white;
    margin:auto;
    margin-top:30px;
	margin-bottom: 80px;
    width:840px;
    padding:10px 70px;
    border-radius:10px;
}

.body.final
{
    width:880px;
}


h3
{
	margin-top:30px;
	margin-bottom:0px;
}

h5
{

}

table
{
	margin-top:20px;
	margin-bottom:30px;
	border-spacing:10px 20px;
}

th
{
	width:180px;
}

td
{
	font-style:italic;
}

.subtitle
{
	margin-top:-15px;
	color:#777;
}

.caption
{
    text-align:center;
    margin:auto;
    margin-bottom:20px;
    padding:10px;
    max-width:650px;
}

.imgwrapper
{
	margin-top:0px;
}

img
{
	max-width:700px;
	margin:auto;
	display:block;
	border:solid black;
}

iframe
{
	max-width:800px;
	margin:auto;
	display:block;
}

.section
{
	margin:30px 0px;
	padding:30px 0px;
}

.imgrowwrapper
{
	display:table;
	margin:auto;
	border-spacing:3px;
	margin-top:20px;
}

.imgrow
{
	display:table-row;
}

.imgrow > a
{
	display:table-cell;
}

.imgrow > a > img
{
	max-width: 340px;
	border:solid black 2px;
}

.imgrow.three > a > img
{
	max-width:640px;
	max-height:190px;
}

.imgrow.two > a > img
{
	max-width:100%;
	max-height:200px;
}

.script > h2
{
	background-color:#ccc;
	padding-left:3px;
}

iframe
{
    border-style:solid;
    border-width:3px;
}

.label
{
	display:inline-block;
	padding:3px 10px;
	margin:0px -30px 0px 40px;
	border-radius:6px;
	color:white;
	min-width:80px;
    text-align:center;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.technical
{
	background-color:#df7512;
}

.professional
{
	background-color:#1275df;
}

.empty
{
    background-color: white;
}

.design
{
    background-color: #12df75
}

.community
{
    background-color: #7575df
}

ul
{
	list-style:none;
	display:table;
	border-spacing:14px;
}

ul > li
{
	display:table-row;
}

ul > li > *
{
	display:table-cell;
}

ul > li > a
{
	min-width:240px;
}

.smalltext
{
	font-size: 5.5pt;
}

h3.smalltext
{
	font-size: 10pt;
}

.label + a
{
	float:right;
}

.imgwrapper + .imgwrapper
{
    margin-top:15px;
}

.label.date
{
    color: black
}

h3
{
	display:inline;
}

h4
{
	display:inline;
}

code
{
    color:blue;
}

.indented
{
    margin-left:30px;
}

red
{
	color:red;
}

sup
{
    font-size:60%;
}

.content-button
{
	padding: 5px 30px;
	font-size: 20pt;
	background-color: #1275df;
	color:white;
	display:inline-block;
	border-radius:5px;
	margin-bottom: -3px;
	margin-left:30px;
}

#Semester1Button
{
	background-color: #d14460;
}


#Semester2Button
{
	background-color: #4460d1;
}

.epithet
{
	padding: 0px 30px;
	font-size: 20pt;
	
	margin-bottom: -3px;
	display:inline-block;
}